<!-- https://www.npmjs.com/package/faker -->
<h2>About the Author</h2>
<hr>
<p> My name is <%- fakeName %> and I have been working as a <%- fakeJob %> in the <%- fakeDep %> department at 
    <%- fakeComp %> for 35 years. </p>
