<!-- Credits: https://stackoverflow.com/questions/5054415/fill-div-with-2-colors
              https://www.w3schools.com/css/css_navbar.asp
              https://codepen.io/cbracco/pen/zekgx-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title> Augmented Reality</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <!-- <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"> !-->
    </head>
    <body>
        <ul id="fixed_header">
          <li class="pg_link"><a href="/">Home</a></li>
          <li class="pg_link"><a href="/history">History</a></li>
          <li class="pg_link"><a href="/applications">Uses</a></li>
          <li class="pg_link"><a href="/development">Develop</a></li>
        </ul>
      <br /><br />
      <div id="content">