<%include partials/header.ejs %>
          <h1>How is AR Being Used?</h1>
          <h2>Different use cases for AR</h2>
          <p>These ideas may not be the most visually pleasing applications, <em>yet</em>, but they show the
              potential of what this technology could be used for.</p>
           <h3>Healthcare</h3>
              <p>A demo for a product that simulates a surgeon's role in an operating room.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/5mbWxtFymuw?start=125" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <h3>Art</h3>
              <p>
              An art installation that pulls from social media accounts in a specific city. 
              Post are used as building blocks for a virtual city. Player's viewing the installation
              can then synchronously add and remove blocks from the city with other players. 
              </p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/8vgAdoBDEW0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Commerce</h3>
              <p>One of the many new AR apps dedicated to at-home shopping. The AR app by IKEA lets
                  you virtually place furniture around your home to help you plan a space.
              </p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/cpjf0hRDNQQ" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        <br />       
             <p class="src_link"><u>Sources</u></p>
             <p><a class="src_link" href="http://marclee.io/en/10-000-moving-cities-same-but-different-ar/">http://marclee.io/en/10-000-moving-cities-same-but-different-ar/</a></p>
      </div>  
 <%include partials/footer.ejs %> 