<%include partials/header.ejs %>
          <h1>Where to develop for AR</h1>
          <h2>SDKs made for AR Development</h2>
          <p>Anyone interested in developing AR applications now has a number of options to 
            choose from. There are even a handful of well-designed free SDKs avaolable for 
            personal use.</p>
          <h3>ARKit or ARCore</h3>
            <p>The two most popular free development options are Apple's ARKit and Google's AR Core.
              ARKit is designed for all Apple products. While ARCore can be used in different IDEs, including
              Android Studio, Unreal, and Unity.</p>
            <a href="https://developer.apple.com/augmented-reality/arkit/">
              <img alt="ARKit Link" src="img/hw1img6.jpg" width="110" height="100">
            </a>
            <a href="https://developers.google.com/ar/">
              <img alt="ARCore Link" src="img/hw1img5.png" width="150" height="100">
            </a>
            <br />
          <h3>Wikitude</h3>      
            <p>Wikitude is a paid SDK designed specifically for mobile apps. Wikitude was one
              of the first AR developers to incorporate device location tracking to help process
              more realistic looking AR graphics.</p>  
            <a href="https://www.wikitude.com/">
              <img alt="Wikitude Link" src="img/hw1img7.png" width="100" height="100">
            </a>
            <br />
          <h3>Vuforia</h3>      
            <p>Vuforia is another paid SDK, but is not limited scrictly to mobile apps. Vuforia also 
              has applications in manufacturing, service maintenance, and logistics.</p>  
            <a href="https://engine.vuforia.com/engine">
              <img alt="Vuforia Link" src="img/hw1img8.jpg" width="100" height="100">
            </a>
          <p class="src_link"><u>Sources</u></p>
          <p><a class="src_link" href="https://arvrjourney.com/best-ar-sdk-for-developing-ar-applications-560b8222f0fa">https://arvrjourney.com/best-ar-sdk-for-developing-ar-applications-560b8222f0fa</a></p>
          <p><a class="src_link" href="https://www.nytimes.com/2009/07/12/business/12proto.html">https://www.nytimes.com/2009/07/12/business/12proto.html</a></p>
      </div>
 <%include partials/footer.ejs %>