<%include partials/header.ejs %>
          
          <h1>How was AR started?</h1>
          <h2>Timeline of Early AR Prototypes</h2>
        <figure>
          <img width="600" height="350" src="https://www.researchgate.net/profile/Gallayanee_Yaoyuneyong/publication/228841030/figure/fig2/AS:300775898140673@1448721970472/History-of-AR-a-brief-timeline.png" alt="History of AR - a brief timeline"/>
        </figure>    
        
          <p>There were many early developments that led to the modern AR we recognize today. 
            Before the 21st century, the field of AR was mostly made up of prototypes working as a proof 
            of concept for the technology. In 2003, the first public deployment of AR was developed by Sportvision for the National Football League.
            The 1st &amp; Ten graphics system allowed alteration to the live broadcast of football games. Broadcasters
            used this to convey detailed information about the current game to viewers. They would use bold, colored 
            lines to show where on the field players would need to reach to earn a "1st &amp; 10" which was marked in game 
            by signs at the edges of the field that moved each play. This was many people's first introduction to any sort
            of Augmented Reality technology.</p>
          <p>Public uses of AR were few and far between until the popularization of smartphones. The widespread access of devices
            with high-speed processors, multiple input devices, and high-definition displays allowed the development of AR applications
            to flourish. </p>
          <%include partials/fakeHistory.ejs %>
          <p class="src_link"><u>Sources</u></p>
          <p><a class="src_link" href="https://www.researchgate.net/figure/History-of-AR-a-brief-timeline_fig2_228841030">AR timeline</a></p>
          <p><a class="src_link" href="https://www.nytimes.com/2009/07/12/business/12proto.html">https://www.nytimes.com/2009/07/12/business/12proto.html</a></p>
      </div>
  
<%include partials/footer.ejs %>