<%include partials/header.ejs %>
<h1>Augmented Reality</h1>
          <h2>Don't Call it <em>Virtual</em> Reality</h2>
            <img style="float: right" src="img/hw1img4.png" alt="Future AR Picture"/>
          <p>Augmented Reality, commonly abbreviated as "AR", is a field of interactive technology that 
            attempts to alter or enhance the perception of the world around them. This is done by taking in
            real world data through everyday sensors like cameras or microphones, performing some kind of process
            on that data, and reproducing an altered version of what the user would sense without the technology.
            Some of the most popular versions of this technology involve altering in real-time the image produced by 
            smartphone cameras. </p>
          <br />
          <p>Augmented Reality is often used synonymously with Virtual Reality (VR). However there is a key difference between the 
            goals of the two technologies. Augmented Reality aims to enhance the user's current environment using the data
            currently around them. Virtual Reality, on the other hand, tries to completely supplant the user's senses
            with artifical input. The goal of VR is to simulate a "real" experience to the user through a fully designed
            simulation.</p>
          <p>While both are still in very early stages of development, trends show that AR might be the first to make 
            a substantial impact on how we interact with technology.</p>
          <p>By 2022, AR is expected to become a $90 Billion industry, compared to $15 Billion for VR. This wide gap between the 
            two industries will most likely be due to the potential install base. The hardware needed to run VR is both much larger
            and more expensive than what is needed to run similarly advanced AR applications. AR is now accessible on most smartphones 
            made in the last few years. While VR-ready hardware is mostly limited to higher-end enthusiast and business machines.</p>
          <%include partials/fakeIndex.ejs %>
          <p class="src_link"><u>Sources</u></p>
            <p><a class="src_link" href="https://www.digi-capital.com/news/2018/11/is-it-game-over-for-ar-vr-platform-wars/">https://www.digi-capital.com/news/2018/11/is-it-game-over-for-ar-vr-platform-wars/</a></p>
            <p><a class="src_link" href="https://www.nytimes.com/2009/07/12/business/12proto.html">https://www.nytimes.com/2009/07/12/business/12proto.html</a></p>
      </div>

<%include partials/footer.ejs %>